<main class="main">
  <div class="task-form">
    <form method="POST">
      <input class="input" type="text" name="task" placeholder="I need to..." />
      <button class="task-form__button button" type="submit">Create</button>
    </form>

    <% if(locals.error) { %>
    <div class="alert alert--error"><%=error.msg%></div>
    <% } %> <% if(locals.success){ %>
    <div class="alert alert--success">Task was added!</div>
    <% } %>
  </div>

  <h2>Todo List</h2>

  <%- include("./partials/tasks_list") %>
</main>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="/scripts/index.js"></script>
