<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Simple TODO Application</title>
    <link href="./css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">Simple TODO Application</h1>

      <ul class="menu">
        <li class="menu__item">
          <a class="link" href="/"> TODO </a>
        </li>
        <li class="menu__item">
          <a class="link" href="/done"> DONE </a>
        </li>
      </ul>
    </header>

    <%- include(`../pages/${template}`) %>
  </body>
</html>
